@model IEnumerable<bookecommercewebsite.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>User Feedbacks</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contactname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactsubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contactnotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contactname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactsubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactnotes)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Contactid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Contactid">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Contactid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
