@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Default-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bookecommercewebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--Edited-->
    <title>PHPJabbers.com | Free Book Online Store Website Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>



</head>
<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a asp-controller="Users" asp-action="Index">
                    <span class="fa fa-book"></span> <span class="title">Book Online Store Website</span>
                </a>

                <!-- Nav -->
                <nav>
                    <div class="profile-details">






                    </div>
                    <ul>
                        <li>
                            @if (@Context.Session.GetString("role") == "customer")
                            {
                                <a class="" asp-controller="Register" asp-action="Edit">

                                    <span class="admin_name">@Context.Session.GetString("username")</span>
                                </a>
                            }
                            else if (@Context.Session.GetString("role") == "admin")
                            {
                                <a class="" asp-controller="Register" asp-action="Edit">

                                    <span class="admin_name">@Context.Session.GetString("username")</span>
                                </a>
                            }
                            else
                            {
                                <a class="" asp-controller="login" asp-action="Index">
                                    <span class="admin_name">Login</span>
                                </a>
                            }
                        </li>
                        <li>
                            @if (@Context.Session.GetString("role") == "customer")
                            {
                                <a class="" asp-controller="cart" asp-action="Index">
                                    <span class="admin_name">Cart</span>
                                </a>
                            }

                        </li>
                        <li>
                            @if (@Context.Session.GetString("role") == "customer")
                            {
                                <a class="" asp-controller="Login" asp-action="Logout">
                                    <span class="admin_name">Log out</span>
                                </a>
                            }
                            else if (@Context.Session.GetString("role") == "admin")
                            {
                                <a class="" asp-controller="Login" asp-action="Logout">
                                    <span class="admin_name">Log out</span>
                                </a>
                            }
                            else
                            {
                                <a class="" asp-controller="register" asp-action="Create">
                                    <span class="admin_name">Sign up</span>
                                </a>
                            }
                        </li>


                    </ul>
                </nav>

            </div>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
        @await RenderSectionAsync("Scripts", required: false)

        </div>
</body>
</html>
